
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-container {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.purple-big-rectangle {
    width: 78%;
    height: 90%;
    background-color: rgba(242, 104, 242, 0.784);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.red-rectangle,
.blue-rectangle,
.green-rectangle {
    width: 30%;
    height: 80%;
}

.red-rectangle {
    background-color: rgba(240, 87, 87, 0.788);
}

.blue-rectangle {
    background-color: rgba(88, 88, 227, 0.755);
}

.green-rectangle {
    background-color: rgba(152, 225, 96, 0.815);
    margin-right: 0; 
}

.container {
    width: 105%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -40px;
}

.outer-rectangle {
    width: 75%; 
    height: 80%;
    display: flex;
    justify-content: space-between;
}

.bottom-rectangle {
    width: 80%;
    height: 20%;
    margin-left: 150px;
    margin-bottom: 100px;
    background-color: rgba(221, 241, 68, 0.834);
}
